#intro {
    float: left;
    width: 500px;
    height: 200px;
}

#scan {
    float: left;
    clear: left;
    width: 500px;
    height: 500px;

}

#result {
    float: right;
    height: 700px;
}

#info {
    clear: both;
    width: 100%;
    margin-top: 50px;
}

.info-box {
    width: 30%;
    float: left;
    margin-right: 25px;
}

#buehlerlogo {
    width: 200px;
    float: left;
    margin-right: 25px;
    margin-botto: 25px;
}

#footer {
    clear: both;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#hackzurich-logo {
    height: 100px;
}